<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tableName</key>
	<string>employeeTable</string>
	<key>primaryKey</key>
	<string>ID</string>
	<key>primaryPropertyName</key>
	<string>employeeId</string>
	<key>primaryPropertyType</key>
	<string>NSNumber</string>
	<key>columnInfoArray</key>
	<array>
		<dict>
			<key>columnName</key>
			<string>code</string>
			<key>columnType</key>
			<string>text</string>
			<key>propertyName</key>
			<string>employeeCode</string>
			<key>propertyType</key>
			<string>NSString</string>
			<key>propertyTypeCategory</key>
			<string>2</string>
			<key>defaultValue</key>
			<string>NULL</string>
			<key>columnDescription</key>
			<string>雇员编号</string>
		</dict>
		<dict>
			<key>columnName</key>
			<string>name</string>
			<key>columnType</key>
			<string>text</string>
			<key>propertyName</key>
			<string>name</string>
			<key>propertyType</key>
			<string>NSString</string>
			<key>propertyTypeCategory</key>
			<string>2</string>
			<key>defaultValue</key>
			<string>NULL</string>
			<key>columnDescription</key>
			<string>名字</string>
		</dict>
		<dict>
			<key>columnName</key>
			<string>userId</string>
			<key>columnType</key>
			<string>text</string>
			<key>propertyName</key>
			<string>userId</string>
			<key>propertyType</key>
			<string>NSString</string>
			<key>propertyTypeCategory</key>
			<string>2</string>
			<key>defaultValue</key>
			<string></string>
			<key>columnDescription</key>
			<string>所属用户id</string>
		</dict>
		<dict>
			<key>columnName</key>
			<string>sex</string>
			<key>columnType</key>
			<string>integer</string>
			<key>propertyName</key>
			<string>sex</string>
			<key>propertyType</key>
			<string>NSNumber</string>
			<key>propertyTypeCategory</key>
			<string>0</string>
			<key>defaultValue</key>
			<string>0</string>
			<key>columnDescription</key>
			<string>性别</string>
		</dict>
		<dict>
			<key>columnName</key>
			<string>birthDay</string>
			<key>columnType</key>
			<string>text</string>
			<key>propertyName</key>
			<string>birthDay</string>
			<key>propertyType</key>
			<string>NSString</string>
			<key>propertyTypeCategory</key>
			<string>2</string>
			<key>defaultValue</key>
			<string>NULL</string>
			<key>columnDescription</key>
			<string>生日</string>
		</dict>
		<dict>
			<key>columnName</key>
			<string>address</string>
			<key>columnType</key>
			<string>text</string>
			<key>propertyName</key>
			<string>address</string>
			<key>propertyType</key>
			<string>NSString</string>
			<key>propertyTypeCategory</key>
			<string>2</string>
			<key>defaultValue</key>
			<string>NULL</string>
			<key>columnDescription</key>
			<string>地址</string>
		</dict>
	</array>
</dict>
</plist>
